<div class="col-md-6" align="center">
	<h3>New SubJerttit</h3>
	<form>
		<div class="form-group">
		<div class="row" align="center">
			<div class="col-md-4">
				<label>SubJerttit Name</label>
			</div>
			<div class="col-md-8">
				<input type="text" id="name" ng-model="newJert.name">
			</div>
		</div>
		<div class="row" align="center">
			<div class="col-md-4">
				<label>Description</label>
			</div>
			<div class="col-md-8">
				<textarea id="description" ng-model="newJert.description"></textarea>
			</div>
		</row>
		</div>
	</form>
</div>
<div class="col-md-6" align="center">
	{{newJert.name}}
</div>